:root{
  --primary-font: 'Lack';
  --line-font: 'Lack Line';
  --adaptive-size: calc(100vw+100vh)
}
@font-face{
font-family: 'Apercu';
src: url('../fonts/apercu-regular-pro.eot');
src: url('../fonts/apercu-regular-pro.eot?#iefix') format('eot'),
    url('../fonts/apercu-regular-pro.woff2') format('woff2'),
    url('../fonts/apercu-regular-pro.woff') format('woff'),
    url('../fonts/apercu-regular-pro.ttf') format('truetype');
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    }
@font-face{
    font-family: 'Roboto ExtraBold';
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    }
    @font-face {
      font-family: 'Lack';
      src: url("../fonts/Lack/Lack-Regular.otf"); 
      src: url("../fonts/Lack/Lack-Regular.otf") format("opentype");
      font-style: normal;
  }
  @font-face {
    font-family: 'Lack Line';
    src: url("../fonts/Lack/Lack-Line-Regular.otf"); 
    src: url("../fonts/Lack/Lack-Line-Regular.otf") format("opentype");
    font-style: normal;
}
@font-face{
font-family: 'Apercu-Light';
src: url('../fonts/apercu-light-pro.eot');
src: url('../fonts/apercu-light-pro.eot?#iefix') format('eot'),
    url('../fonts/apercu-light-pro.woff2') format('woff2'),
    url('../fonts/apercu-light-pro.woff') format('woff'),
    url('../fonts/apercu-light-pro.ttf') format('truetype');
}

html {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Apercu-Light', sans-serif;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    cursor: default;
}


body {
    position: fixed;
    width: 100%;
    height: 100%;
}
#canvas {
    position: relative;
    width: 100%;
    height: 100%;
	filter: invert(1);
  z-index: 11;
}

#preloader-text {
    position: absolute;
    left: 0;
    top: 50%;
    padding-left: 8px;
    margin-top: -28px;
    width: 100%;
    pointer-events: none;
    z-index: 1024;
    opacity: 0;

    text-align: center;
    text-transform: uppercase;
}

#preloader-text-title {
    font-family: 'Lack', sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 4px;
    font-weight: bold;
	color: #000 !important;
}

#preloader-text-author {
    font-family: 'Lack';
    font-size: 9px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #676767;
    opacity: 0;
}


#preloader-text-title  span {
    display: inline-block;
    min-width: 8px;
    transform: translateZ(0);
    opacity: 0;
	color: #000 !important;
}


#preloader-text-enter {
    margin-top: 14px;
    display: inline-block;
    min-width: 8px;
    font-size: 11px;
    letter-spacing: 2px;
	opacity: 0;
	filter: invert(1);
  font-family: 'Lack Line';
  background: linear-gradient(to right, #000 20%, #dbdbda 30%, #abaca9 70%, rgb(211, 211, 211) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
}
@keyframes textShine {
  to {
    background-position: 200%;
  }
}

#sound-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    right:  50px;
    bottom: 32px;
    z-index: 40;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


#sound-btn  canvas {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;

    opacity: 0.4;
    transition: opacity 0.25s linear;
}

#sound-btn:hover  canvas {
    opacity: 1
}




#bg_video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}
.hero {
    font-size: 28px;
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 2;
    mix-blend-mode: difference;
    text-orientation: mixed;
    /* Bright things in dark environments usually cast that light, giving off a glow */
    filter: drop-shadow(0 1px 3px);
  }

  .layers::before,
  .layers::after {
    content: attr(data-text);
    position: absolute;
    width: 110%;
    z-index: -1;
  }
  
  .layers::before {
    top: 10px;
    left: 15px;
    color: #e0287d;
  }
  
  .layers::after {
    top: 5px;
    left: -10px;
    color: #1bc7fb;
  }
  
  .single-path {
    clip-path: polygon(
      0% 12%,
      53% 12%,
      53% 26%,
      25% 26%,
      25% 86%,
      31% 86%,
      31% 0%,
      53% 0%,
      53% 84%,
      92% 84%,
      92% 82%,
      70% 82%,
      70% 29%,
      78% 29%,
      78% 65%,
      69% 65%,
      69% 66%,
      77% 66%,
      77% 45%,
      85% 45%,
      85% 26%,
      97% 26%,
      97% 28%,
      84% 28%,
      84% 34%,
      54% 34%,
      54% 89%,
      30% 89%,
      30% 58%,
      83% 58%,
      83% 5%,
      68% 5%,
      68% 36%,
      62% 36%,
      62% 1%,
      12% 1%,
      12% 34%,
      60% 34%,
      60% 57%,
      98% 57%,
      98% 83%,
      1% 83%,
      1% 53%,
      91% 53%,
      91% 84%,
      8% 84%,
      8% 83%,
      4% 83%
    );
  }
  
  .paths {
    animation: paths 5s step-end infinite;
  }
  
  @keyframes paths {
    0% {
      clip-path: polygon(
        0% 43%,
        83% 43%,
        83% 22%,
        23% 22%,
        23% 24%,
        91% 24%,
        91% 26%,
        18% 26%,
        18% 83%,
        29% 83%,
        29% 17%,
        41% 17%,
        41% 39%,
        18% 39%,
        18% 82%,
        54% 82%,
        54% 88%,
        19% 88%,
        19% 4%,
        39% 4%,
        39% 14%,
        76% 14%,
        76% 52%,
        23% 52%,
        23% 35%,
        19% 35%,
        19% 8%,
        36% 8%,
        36% 31%,
        73% 31%,
        73% 16%,
        1% 16%,
        1% 56%,
        50% 56%,
        50% 8%
      );
    }
  
    5% {
      clip-path: polygon(
        0% 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 88%,
        52% 88%
      );
    }
  
    30% {
      clip-path: polygon(
        0% 53%,
        93% 53%,
        93% 62%,
        68% 62%,
        68% 37%,
        97% 37%,
        97% 89%,
        13% 89%,
        13% 45%,
        51% 45%,
        51% 88%,
        17% 88%,
        17% 54%,
        81% 54%,
        81% 75%,
        79% 75%,
        79% 76%,
        38% 76%,
        38% 28%,
        61% 28%,
        61% 12%,
        55% 12%,
        55% 62%,
        68% 62%,
        68% 51%,
        0% 51%,
        0% 92%,
        63% 92%,
        63% 4%,
        65% 4%
      );
    }
  
    45% {
      clip-path: polygon(
        0% 33%,
        2% 33%,
        2% 69%,
        58% 69%,
        58% 94%,
        55% 94%,
        55% 25%,
        33% 25%,
        33% 85%,
        16% 85%,
        16% 19%,
        5% 19%,
        5% 20%,
        79% 20%,
        79% 96%,
        93% 96%,
        93% 50%,
        5% 50%,
        5% 74%,
        55% 74%,
        55% 57%,
        96% 57%,
        96% 59%,
        87% 59%,
        87% 65%,
        82% 65%,
        82% 39%,
        63% 39%,
        63% 92%,
        4% 92%,
        4% 36%,
        24% 36%,
        24% 70%,
        1% 70%,
        1% 43%,
        15% 43%,
        15% 28%,
        23% 28%,
        23% 71%,
        90% 71%,
        90% 86%,
        97% 86%,
        97% 1%,
        60% 1%,
        60% 67%,
        71% 67%,
        71% 91%,
        17% 91%,
        17% 14%,
        39% 14%,
        39% 30%,
        58% 30%,
        58% 11%,
        52% 11%,
        52% 83%,
        68% 83%
      );
    }
  
    76% {
      clip-path: polygon(
        0% 26%,
        15% 26%,
        15% 73%,
        72% 73%,
        72% 70%,
        77% 70%,
        77% 75%,
        8% 75%,
        8% 42%,
        4% 42%,
        4% 61%,
        17% 61%,
        17% 12%,
        26% 12%,
        26% 63%,
        73% 63%,
        73% 43%,
        90% 43%,
        90% 67%,
        50% 67%,
        50% 41%,
        42% 41%,
        42% 46%,
        50% 46%,
        50% 84%,
        96% 84%,
        96% 78%,
        49% 78%,
        49% 25%,
        63% 25%,
        63% 14%
      );
    }
  
    90% {
      clip-path: polygon(
        0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%
      );
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      clip-path: none;
    }
  }
  
  .movement {
    /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
    position: relative;
    animation: movement 8s step-end infinite;
  }
  
  @keyframes movement {
    0% {
      top: 0px;
      left: -20px;
    }
  
    15% {
      top: 10px;
      left: 10px;
    }
  
    60% {
      top: 5px;
      left: -10px;
    }
  
    75% {
      top: -5px;
      left: 20px;
    }
  
    100% {
      top: 10px;
      left: 5px;
    }
  }
  
  .opacity {
    animation: opacity 5s step-end infinite;
  }
  
  @keyframes opacity {
    0% {
      opacity: 0.1;
    }
  
    5% {
      opacity: 0.7;
    }
  
    30% {
      opacity: 0.4;
    }
  
    45% {
      opacity: 0.6;
    }
  
    76% {
      opacity: 0.4;
    }
  
    90% {
      opacity: 0.8;
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      opacity: 0;
    }
  }
  
  .font {
    animation: font 7s step-end infinite;
  }
  
  @keyframes font {
    0% {
      font-weight: 100;
      color: #e0287d;
      filter: blur(3px);
    }
  
    20% {
      font-weight: 500;
      color: #fff;
      filter: blur(0);
    }
  
    50% {
      font-weight: 300;
      color: #1bc7fb;
      filter: blur(2px);
    }
  
    60% {
      font-weight: 700;
      color: #fff;
      filter: blur(0);
    }
  
    90% {
      font-weight: 500;
      color: #e0287d;
      filter: blur(6px);
    }
  }
  
  .glitch span {
    animation: paths 5s step-end infinite;
    filter: invert(1);
    mix-blend-mode: difference;
  }
  
  .glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
  }
  
  .glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
  }
  
  .hero-container {
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 3rem;
    mix-blend-mode: difference;
    isolation: isolate;
    filter: invert(1);
    font-family: Roboto;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    font-size: xx-large !important;
  }
  .burger{
    mix-blend-mode: difference;
    filter: invert(1);
    top: 3rem;
    left: 20rem;
  }
  .--3-section-video video{
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .--3-section-video video:nth-child(1){
    width: calc(var(--adaptive-size) * 0.2);
    margin: 100px auto;
    position: absolute;
    transform: translate(100%, 20px);
  }
  .--3-section-video video:nth-child(2){
    width: calc(var(--adaptive-size) * 0.13);
    height: calc(var(--adaptive-size) * 0.13);
    margin: 100px auto;
    position: absolute;
    object-fit: cover;
    transform: translate(165%, 70%);
  }
  .--3-section-video img{
    display: block;
    position: absolute;
    width: 200px;
    height: 300px;
    transform: translate(115%, 130%);
    margin: 100px 0;
  }
  .--3-section-text h1{
    font-family: 'Lack Line';
    text-transform: uppercase;
    font-size: calc(var(--adaptive-size) * 0.03);
    margin-top: 30px;
  }
   .--3-section-text{
    text-align: start;
    font-family: 'Lack';
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: calc(var(--adaptive-size) * 0.021);
    margin: 0 0 0 calc(var(--adaptive-size) * 0.02);
    line-height: 35px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  .--3-section-video p{
    display: block;
  }